<%= form_for(worklog_path(@worklog)) do |f| %>
  <% if @worklog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worklog.errors.count, "error") %> prohibited this worklog from being saved:</h2>

      <ul>
      <% @worklog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Project %><br />
    <!-- %= f.text_field :task_id % -->
    <%= collection_select(:task_id, nil, @user_tasks, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :workitem_id %><br />
    <%= collection_select(:workitem_id, nil, @user_workitems, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
