<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!-- %= f.label :id %><br / -->
    <!-- %= f.text_field :id % -->
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div style="border: 1px solid black; min-width:300px; max-width:30%">
    <div class="field">
      <input type="checkbox" name="selected_team_users[]" checked />
      <label for="selected_team_users[]">check1</label><br />
      <input type="checkbox" name="selected_team_users[]" checked />
      <label for="selected_team_users[]">check1</label>
      <!-- %= f.check_box :user % -->
      <!-- % @team.user.each do |u| % -->
        <!-- %= u.id % -->
      <!-- % end % -->
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
