<h1>Team List</h1>

<div style="border: 1px solid black; padding: 5px">
<table>
  <tr>
    <!-- th>Id</th -->
    <th style="text-align:left;min-width:200px">Team Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <!-- td><%= team.id %></td -->
    <td><%= team.name %></td>
    <td><%= image_tag('icons/detail.png', :class => :icon) %><%= link_to 'Show', team %></td>
    <td><%= image_tag('icons/edit.png', :class => :icon) %><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= image_tag('icons/delete.png', :class => :icon) %><%= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Team', new_team_path %>
