<h1>Team List</h1>

<table style="border: 1px solid black">
  <tr>
    <!-- th>Id</th -->
    <th style="text-align:left;min-width:200px">Team Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <!-- td><%= team.id %></td -->
    <td><%= team.name %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= sayHello %>
<br />

<%= link_to 'New Team', new_team_path %>
