<p id="notice"><%= notice %></p>

<center><p><b>Team Statistics</b></p></center>

<p>
  <b>Id:</b>
  <%= @team.id %>
</p>

<p>
  <b>Team Name:</b>
  <%= @team.name %>
</p>

<%= form_tag(:method => :POST) do %>

<p>
  Start Date: <%= date_select(:stat_date, :start, :default => @start_date) %>
</p>

<p>
  End Date: <%= date_select(:stat_date, :end, :default => @end_date) %>
</p>

<%= submit_tag 'Start Calculate' %>

<% end %>

<br />

<% unless @report_weeks.nil? %>
<table>
  <tr>
    <th><div style="margin-right: 10px">Project name</div></th>
    <th><div style="margin-right: 10px">Workitem name</div></th>
    <th>Hours</th>
  </tr>

<% @report_weeks.keys.sort.each do |week_start| %>
  <tr>
    <td colspan="3">
      <i><%= week_start %></i>
      <div style="max-height:1;min-width:100%;border:1px solid black;"></div>
    </td>
  </tr>
  <% @report_weeks[week_start].each do |report| %>
    <tr>
      <td><%= report.task_name %></td>
      <td><%= report.workitem_name %></td>
      <td><%= report.hours %></td>
    </tr>
<% end %>
<% end %>
</table>
<br />
<% end %>

<%= link_to 'Back', teams_path %>
