<%= form_for(@workitem) do |f| %>
  <% if @workitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workitem.errors.count, "error") %> prohibited this workitem from being saved:</h2>

      <ul>
      <% @workitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  For projects:<br />
  <div style="border: 1px solid black; min-width:300px; max-width:30%">
    <div class="field">
      <% @allProjects.each do |p|  %>
        <% _workitemProjectExists = true if @workitemProject.exists?(p) %>
        <%= checkbox_and_label("selected_workitem_projects", "selected_workitem_projects[]", p.name, p.id, _workitemProjectExists) %>
	<br />
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
