<h1>Listing workitems</h1>

<div style="border: 1px solid black; padding: 5px">
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workitems.each do |workitem| %>
  <tr>
    <td><%= workitem.id %></td>
    <td><%= workitem.name %></td>
    <td><%= image_tag('icons/detail.png', :class => :icon) %><%= link_to 'Show', workitem %></td>
    <td><%= image_tag('icons/edit.png', :class => :icon) %><%= link_to 'Edit', edit_workitem_path(workitem) %></td>
    <td><%= image_tag('icons/delete.png', :class => :icon) %><%= link_to 'Destroy', workitem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Workitem', new_workitem_path %>
