<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @workitem.id %>
</p>

<p>
  <b>Name:</b>
  <%= @workitem.name %>
</p>

<b>For projects:</b>
<div style="min-width:300px; max-width:30%">
  <div style="margin-left:20px">
    <% @workitemProjects.each do |p| %>
      <i><%= p.name %></i>
    <% end %><br />
  </div>
</div>
<p />

<%= link_to 'Edit', edit_workitem_path(@workitem) %> |
<%= link_to 'Back', workitems_path %>
