<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :encrypted_passwd %><br />
    <%= f.text_field :encrypted_passwd %>
  </div>

  User teams:<br />
  <div style="border: 1px solid black; min-width:300px; max-width:30%">
    <div class="field">
      <% @allTeams.each do |t|  %>
        <% _userTeamExists = true if ((!@userTeams.nil?) and @userTeams.exists?(t)) %>
        <%= checkbox_and_label("selected_user_teams", "selected_user_teams[]", t.name, t.id, _userTeamExists) %>
	<br />
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
