<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @user.id %>
</p>

<p>
  <b>Login Name:</b>
  <%= @user.login %>
</p>

<b>User teams:</b>
<div style="min-width:300px; max-width:30%">
  <div style="margin-left:20px">
    <% @userTeams.each do |t| %>
      <i><%= t.name %></i><br />
    <% end %>
  </div>
</div>
<br />

<b>User roless:</b>
<div style="min-width:300px; max-width:30%">
  <div style="margin-left:20px">
    <% unless (@user.roles.nil?)%>
      <% @user.roles.split(',').each do |r| %>
        <i><%= r %></i><br />
      <% end %>
    <% end %>
  </div>
</div>
<br />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= icon_link('/images/icons/stats.png', "#{@user.id}/statistics", 20, 20) %>
