<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @user.id %>
</p>

<p>
  <b>Team:</b>
  <%= @user.team_id %>
</p>

<b>User teams:</b>
<div style="border:1px solid black; min-width:300px; max-width:30%">
  <div style="margin-left:20px">
    <% @userTeams.each do |t| %>
      <i><%= t.name %></i>
    <% end %><br />
  </div>
</div>
<p />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
