<link type="text/css" href="/jquery/css/smoothness/jquery-ui-1.8.13.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="/jquery/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/jquery/js/jquery-ui-1.8.13.custom.min.js"></script>

<p id="notice"><%= notice %></p>

<center><p><b>User Statistics</b></p></center>

<%= form_tag(:method => :POST) do %>

<p>
  <b>Id:</b>
  <!-- %= @user.id % -->
</p>

<p>
  <b>Login User:</b><br />
  <%= collection_select "selected_user", :user_id, @allUsers, :id, :login %>
</p>

<p>
  <b>Start Date:</b> <%= text_field_tag :start_date, @start_date %>
</p>

<p>
  <b>End Date:</b> <%= text_field_tag :end_date, @end_date %>
</p>

<%= submit_tag 'Start Calculate' %>

<% end %>

<br />

<% unless @report_weeks.nil? %>
<table>
  <tr>
    <th><div style="margin-right: 10px">Project name</div></th>
    <th><div style="margin-right: 10px">Workitem name</div></th>
    <th>Hours</th>
  </tr>

<% @report_weeks.keys.sort.each do |week_start| %>
  <tr>
    <td colspan="3">
      <i><%= week_start %></i>
      <div style="max-height:1;min-width:100%;border:1px solid black;"></div>
    </td>
  </tr>
  <% @report_weeks[week_start].each do |report| %>
    <tr>
      <td><%= report.task_name %></td>
      <td><%= report.workitem_name %></td>
      <td><%= report.hours %></td>
    </tr>
<% end %>
<% end %>
</table>
<br />
<% end %>

<%= link_to 'Back', users_path %>

<script>
  $('#start_date').datepicker({dateFormat: "yy-mm-dd"});
  $('#end_date').datepicker({dateFormat: "yy-mm-dd"});
</script>
