<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  Workitems:<br />
  <div style="border: 1px solid black; min-width:300px; max-width:30%">
    <div class="field">
      <% @allWorkitems.each do |i|  %>
        <% _projectWorkitemExists = true if @projectWorkitems.exists?(i) %>
        <%= checkbox_and_label("selected_project_workitems", "selected_project_workitems[]", i.name, i.id, _projectWorkitemExists) %>
	<br />
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
