<h1>Listing projects</h1>

<div style="border: 1px solid black; padding: 5px">
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.id %></td>
    <td><%= project.name %></td>
    <td><%= image_tag('icons/detail.png', :class => :icon) %><%= link_to 'Show', project %></td>
    <td><%= image_tag('icons/edit.png', :class => :icon) %><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= image_tag('icons/delete.png', :class => :icon) %><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Project', new_project_path %>
