<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @project.id %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<b>Workitems:</b>
<div style="min-width:300px; max-width:30%">
  <div style="margin-left:20px">
    <% @projectWorkitems.each do |i| %>
      <i><%= i.name %></i><br />
    <% end %>
  </div>
</div>
<br />

<b>Teams working on this project:</b>
<div style="min-width:300px; max-width:30%">
  <div style="margin-left:20px">
    <% @projectTeams.each do |t| %>
      <i><%= t.name %></i><br />
    <% end %>
  </div>
</div>
<br />

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
