<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @project.id %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<b>Workitems:</b>
<div style="min-width:300px; max-width:30%">
  <div style="margin-left:20px">
    <% @projectWorkitems.each do |i| %>
      <i><%= i.name %></i>
    <% end %><br />
  </div>
</div>
<p />

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
